In [1]:
for i in range(1,5):
    for j in range(1,i):
        print(" ",end="")
    for k in range(1,5):
        print("*",end="")
    print("")

****
 ****
  ****
   ****

In [4]:
for i in range(1,5):
    for j in range(1,6):
        if j ==1 or j==5 or i==1 or i==4:
            print("*",end="")
        else:
            print(" ",end="")
    print("")

*****
*   *
*   *
*****

In [9]:
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(64+j),end="")
    print("")

A
AB
ABC
ABCD
ABCDE

In [10]:
n = 5
for i in range(n):
    for j in range(0,i+1):
        print(chr(65+i),end="")
    print("")

A
BB
CCC
DDDD
EEEEE

In [13]:
n = 5
for i in range(n):
    for j in range(0,i+1):
        print(chr(69-i),end=" ")
    print("")

E
D D
C C C
B B B B
A A A A A

In [16]:
for i in range(1,6):
    for j in range(i,6):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print("")

          *
        * *
      * * *
    * * * *
  * * * * *

In [17]:
for i in range(1,6):
    for j in range(i,6):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(chr(64+i),end=" ")
    print("")

          A
        B B
      C C C
    D D D D
  E E E E E

In [22]:
for i in range(0,5):
    for j in range(1,i+1):
        print(" ",end=" ")
    for k in range(0,5-i):
        print(chr(65+k),end=" ")
    print("")

A B C D E
  A B C D
    A B C
      A B
        A

In [25]:
for i in range(0,5):
    for j in range(i,5):
        print(" ",end="")
    for k in range(0,2*i+1):
        print("*",end="")
    print("")

     *
    ***
   *****
  *******
 *********

In [45]:
for i in range(1,8,2):
    for j in range(i,8,2):
        print(" ",end="")
    for k in range(1,i+1):
        if i==1 or i==7 or k==i or k==1:
            print("*",end="")
        else:
            print(" ",end="")

    print("")

    *
   * *
  *   *
 *******

In [47]:
for i in range(1,8,2):
    for j in range(3,i+1,2):
        print(" ",end="")
    for k in range(i,8):
        print("*",end="")
    print("")

*******
 *****
  ***
   *

In [55]:
for i in range(1,8,2):
    for j in range(i,6,2):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")    
    print("")
for i in range(1,6,2):
    for j in range(1,i+1,2):
        print(" ",end="")
    for k in range(i,6):
        print("*",end="")    
    
    print("")

   *
  ***
 *****
*******
 *****
  ***
   *

In [58]:
for i in range(0,5):
    for j in range(1,6-i):
        print(j,end=" ")
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [66]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end=" ")
    for k in range(i,2*i):
        print(k,end=" ")
    for l in range(2 * i - 2, i - 1, -1):
        print(l,end=" ")        
    print("")

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [88]:
for i in range(1,6):
    for j in range(i,5):
        print(" ",end="")
    for k in range(1,i+1):
        if k==1 or i==5 or k==i:
            print(k,end="  ")
        else:
            print("  ",end=" ")        
    print("")

    1
   1  2
  1     3
 1        4
1  2  3  4  5

In [92]:
for i in range(1,6):
    for j in range(1,6):
        if i==1 or i==5 or j==1 or j==5:
            print(chr(64+j),end=" ")
        else:
            print(" ",end=" ")    
    print("")

A B C D E
A       E
A       E
A       E
A B C D E

In [124]:
for i in range(1,10,2):
    for k in range(i,8,2):
        print(" ",end=" ")
    for k in range(1,i+1):
        if  k==1 or k==i:
            print(chr(64+k),end=" ")
        else:
            print(" ",end=" ")        
    print("")
for i in range(1,8,2):
    for j in range(1,i+1,2):
        print(" ",end=" ")
    for k in range(1,9-i):
        if  k==1 or k==8-i:
            print(chr(64+k),end=" ")
        else:
            print(" ",end=" ")        
    print("")

        A
      A   C
    A       E
  A           G
A               I
  A           G
    A       E
      A   C
        A

In [ ]:
for i in range(1,10,2):
    for j in range(i,8,2):
        print(" ",end=" ")
    for k in range(1,i+1):
        if k==1 or k==i or i==9 or k==i-:
            print("*",end=" ")
        else:
            print(" ",end=" ")        
    print("")

        *
      * * *
    *     * *
  *         * *
* * * * * * * * *

In [4]:
n = 5
num = 10
for i in range(n):
    for j in range(n-i):
        print(num,end=" ")
        num+=1
    print("")

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [8]:
for i in range(1,6):
    for i in range(1,7-i):
        if i%2==0:
            print("0",end=" ")
        else:
            print("1",end=" ")    
    print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
1 0 1 0 1 
2 0 2 0 
3 0 3 
4 0 
5

In [ ]:
for i in range(1,6):
    for i in range(1,7-i):
        if i%2==0:
            print("0",end=" ")
        else:
            print("1",end=" ")    
    print("")

In [11]:
n = 5
num = 1
for i in range(n):
    for j in range(n-i):
        if j==0 or j==2 or j==4:
            print(num,end=" ")
        else:
            print("0",end=" ")
    print("")
    num+=1

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [23]:
list2 = [10,20,60,80,9]
for i in range(0,len(list2)):
    for j in range(i+1,len(list2)):
        if list2[i]< list2[j]:
            list2[i],list2[j] = list2[j],list2[i]
print(list2)

[80, 60, 20, 10, 9]

In [39]:
# finding the second largst number
Second_largest = 0
nums = [4, 1, 7, 3, 9]
for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]<nums[j]:
            nums[i],nums[j]=nums[j],nums[i]
Second_largest+= nums[1]
print(Second_largest)

7

In [ ]:
# checking the list is pallindrome or not

lst = [1, 2, 3, 2, 1]
if lst == lst[::-1]:
    print("it is paliindrome")
else:
    print("it is not pallindrome")

it is paliindrome

In [46]:
# checking the all even numbers in list

nums = [1, 2, 3, 4, 5, 6]
nums2 = []
for i in nums:
    if i%2==0:
        nums2.append(i)
print(nums2)

[2, 4, 6]

In [5]:
prices =[7,1,5,3,6,4]
max_profit = 0
for i in range(0,len(prices)):
    for j in range(i+1,len(prices)):
        if prices[j]-prices[i]>max_profit:
            max_profit = prices[j]-prices[i]
print(max_profit)

5

In [12]:
# two sum problem by single loop

lst = [2,3,6,7,5]     ## [2,3,5,6,7]
lst.sort()
print(lst)
start = 0
end = len(lst)-1
target = 9

while(start<end):
    if lst[start]+lst[end] == target:
        print(lst[start],lst[end])
        start+=1
        end-=1
        
    elif lst[start]+lst[end]>target:
        end-=1
    else:
        start+=1

[2, 3, 5, 6, 7]
2 7
3 6

In [17]:
lst1 = [10,20,30,40,50]
lst2 = [30,40,50,60,70]
lst3 = lst1 + [x for x in lst2 if x not in lst1]
print(lst3)

[10, 20, 30, 40, 50, 60, 70]

In [23]:
# plus one probelem 
# Input: digits = [1,2,3]
# Output: [1,2,4]
# Explanation: The array represents the integer 123.
# Incrementing by one gives 123 + 1 = 124.
# Thus, the result should be [1,2,4].

digits = [1,2,3]
num = 0
for i in range(0,len(digits)):
    num = num*10 + digits[i]
lst1 =[int(x) for x in str(num+1) ] 
print(lst1)

[1, 2, 4]

In [3]:
nums = [-1,0,1,2,-1,-4]
nums.sort()
for i in range(0,len(nums)-2):
    start = i+1
    end = len(nums)-1
    while(start<end):
        if nums[i]+nums[start]+nums[end]==0:
            print(nums[i],nums[start],nums[end])
            end-=1
            start+=1
        elif nums[i]+nums[start]+nums[end]>0:
            end-=1
        else:
            start+=1

-1 -1 2
-1 0 1
-1 0 1

In [ ]:

a ={1,2,3,4,5}
a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

In [23]:
a ={1,2,3,4,5}
a.update([7,8,9])
print(a)

{1, 2, 3, 4, 5, 7, 8, 9}

In [24]:
a ={1,2,3,4,5}
a.remove(2)
print(a)

{1, 3, 4, 5}

In [1]:
def multiply(*num):
    result = 1
    for i in num:
        result *=i
    print(result)

multiply(10,20,30)

6000

In [2]:
def multiply(*nums):
    result = 1
    for num in nums:
        result *= num
    return result

multiply(2, 3)
multiply(2, 3, 4, 5)

120

In [3]:
def print_user(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

print_user(name="Alice", age=30, country="Canada")

name: Alice
age: 30
country: Canada

# first order function----> contain three sub functions like 
# 1. Assign function to a variable
# 2. pass a function as a parameter
# 3. return a function from another function

In [ ]:
# 1. Assign function to a variable

In [9]:


def greet():
    return "Hello!"

say_hello = greet  # Assign function to a variable
print(say_hello())  # Outputs: Hello!

Hello!

In [ ]:
# 2. pass a function as a parameter

In [ ]:

def greet(name):
    return f"Hello, {name}!"

def welcome(func, user):
    return func(user)

print(welcome(greet, "Alice"))

Hello, Alice!

In [5]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def operate(func, a, b):
    return func(a, b)

print(operate(add, 5, 3))      # 8
print(operate(subtract, 5, 3))

8
2

In [ ]:
# 3. return a function from another function

In [6]:
def greet_creator():
    def say_hello():
        return "Hello!"
    return say_hello

# Call the outer function
greet = greet_creator()

# Now call the returned function
print(greet())  # Output: Hello!

Hello!

# High order function

In [10]:
# Example 1: Takes a function as an argument

def shout(text):
    return text.upper()

def whisper(text):
    return text.lower()

def speak(style_func, message):
    return style_func(message)

print(speak(shout, "hello"))   # HELLO
print(speak(whisper, "HELLO")) # hello

HELLO
hello

Lambda functions => lambda funcitons are anonymus functions which are use instead of a block of code like functions in which we dont want to define the whole function . it is one line code

mainly we use it with map and filter functions

In [ ]:
# variable name = lambda expression and parameter thats it

In [11]:
square = lambda x: x**2

square(4)

16

In [ ]:
# map function=>map is basically like for loop it is used it itrate the function like list tuple etc
# map and filter particular elements pe apply hote ha jiske karan ye memory me sara data store nhi karte

In [ ]:
# map = har ek iterable value ke uper logic apply karna

In [14]:
mylist = [10,34,23,40]
u1 = map(lambda x: x+5,mylist)
next(u1)

15

In [15]:
next(u1)

39

In [16]:
mylist = [10,34,23,40]
u1 = map(lambda x: x%2==0,mylist)
next(u1)

True

In [17]:
next(u1)

True

because == is a comparison operator

In [ ]:
# if we want that value which is divide by 2 then we use filter

In [18]:
mylist = [10,34,23,40]
u1 = filter(lambda x: x+5,mylist)
next(u1)

10

Generators and decorators

In [ ]:
# Generators