In [ ]:
for i in range(1,6):
 print(i*"*")

*
**
***
****
*****

floyd's triangle

In [ ]:
n=5
num=1
for i in range(1,n+1):
  for j in range(i):
    print(num,end=" ")
    num+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
for i in range(1,8):
  for j in range(1,6):
    if j==1 or j==5 or i==1 or i==7:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

* * * * *
*       *
*       *
*       *
*       *
*       *
* * * * *

In [ ]:
for j in range(1,6):
  for j in range()

In [ ]:
for i in range(1,6):
  print(i*"*")
  for j in range()

*
**
***
****
*****
****
***
**
*

In [ ]:
n= = 5 # change n for a biger or smaller patter

# upper half
for i in range(1,n+1):   # controls the number of rows(reverse)

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print("*",end="")
  print("")

*****
****
***
**
*

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print(j,end=" ")
  print("")

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
num=5
n=10
for i in range(num):
  for j in range(num-i):
    print(n,end=" ")
    n=n+1
  print("")

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    if j==0 or j==2 or j==4:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
10101
2020
303
40

In [ ]:
n=5
num=1
for i in range(n):
  for j in range(n-i):
    if j==0 or j==2 or j==4:
      print(num,end=" ")

    else:
      print(0,end=" ")
  print("")
  num+=1

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("*",end=" ")
  print("")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,6):
    if k==i or k==5 or i==1 :
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

  * * * * *
    *     *
      *   *
        * *
          *

In [ ]:
for i in range(1,4):
  for j in range(i,3):
    print(" ",end="")
  for k in range(1,(2*i)):
    print("*",end="")

  print("")

  *
 ***
*****

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(i,5):
    print("*",end=" ")
  print("")

 * * * *
  * * *
   * *
    *

In [ ]:
# list
# collection of elements  => mutiple type
# mutable  # index position

In [ ]:
list2 = [10,20,60,80,9]
for i in range(0,len(list2)):
  for j in range(i+1,len(list2)):
    if (list2[i]<list2[j]):
      list2[i],list2[j]=list2[j],list2[i]
print(list2)

[80, 60, 20, 10, 9]

In [ ]:
# best time to buy and sell the stock

In [ ]:
max_profit = 0
prices =[7,1,5,3,6,4]
for i in range(0,len(prices)):
  for j in range(i+1,len(prices)):
    if prices[j]-prices[i]>max_profit:
      max_profit = prices[j]-prices[i]
print(max_profit)

5

In [ ]:
## if you have a list and short that list by one loop
## two sum problem
## plus one
##  you have beeen given two list having same number of elements and you have to merge both the list by removing the duplicate elements but with a single loop but do not use zip and enamurate function

In [ ]:
list1 = [10,45,30,50,20,60]
for i in range(0,len(list1)):
  if

In [8]:
lst = [64, 34, 25, 12, 22, 11, 45, 90]

n=len(lst)
i=0
while i < n-1:
  j=0
  while j < n-i-1:
    if lst[j]>lst[j+1]:
      lst[j],lst[j+1] = lst[j+1],lst[j]
    j+=1
  i+=1

print(lst)

[11, 12, 22, 25, 34, 45, 64, 90]

In [9]:
## Two sum problem
lst = [2,3,6,7,5]
target = 9
for i in range(len(lst)):
  for j in range(i+1,len(lst)):
    if lst[i]+lst[j] == target:
      print(lst[i],lst[j])

2 7
3 6

In [ ]:
##  you have been given two list having same number of elements and you have to merge both the list by removing the duplicate elements but with a single loop but do not use zip and enamurate function

In [1]:
lst1 = [10,20,30,40,50]
lst2 = [30,40,50,60,70]

merge_list = lst1+[item for item in lst2 if item not in lst1]
print(merge_list)

[10, 20, 30, 40, 50, 60, 70]