In [ ]:
for i in range(1,6):
 print(i*"*")

*
**
***
****
*****

floyd's triangle

In [ ]:
n=5
num=1
for i in range(1,n+1):
  for j in range(i):
    print(num,end=" ")
    num+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
for i in range(1,8):
  for j in range(1,6):
    if j==1 or j==5 or i==1 or i==7:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

* * * * *
*       *
*       *
*       *
*       *
*       *
* * * * *

In [ ]:
for j in range(1,6):
  for j in range()

In [ ]:
for i in range(1,6):
  print(i*"*")
  for j in range()

*
**
***
****
*****
****
***
**
*

In [ ]:
n= = 5 # change n for a biger or smaller patter

# upper half
for i in range(1,n+1):   # controls the number of rows(reverse)

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print("*",end="")
  print("")

*****
****
***
**
*

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print(j,end=" ")
  print("")

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
num=5
n=10
for i in range(num):
  for j in range(num-i):
    print(n,end=" ")
    n=n+1
  print("")

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    if j==0 or j==2 or j==4:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
10101
2020
303
40

In [ ]:
n=5
num=1
for i in range(n):
  for j in range(n-i):
    if j==0 or j==2 or j==4:
      print(num,end=" ")

    else:
      print(0,end=" ")
  print("")
  num+=1

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("*",end=" ")
  print("")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,6):
    if k==i or k==5 or i==1 :
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

  * * * * *
    *     *
      *   *
        * *
          *

In [ ]:
for i in range(1,4):
  for j in range(i,3):
    print(" ",end="")
  for k in range(1,(2*i)):
    print("*",end="")

  print("")

  *
 ***
*****

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(i,5):
    print("*",end=" ")
  print("")

 * * * *
  * * *
   * *
    *

In [ ]:
list 
# collectionn of elements
# mutable index postion
# string is a iterable
# pop ,remove 
# pop = remove last element from list
# remove = remove first occurence of element from list

In [ ]:
list2 = [10,20,60,80,9]
for i in range(0,len(list2)):
  for j in range(i+1,len(list2)):
    if (list2[i]<list2[j]):
      list2[i],list2[j]=list2[j],list2[i]
print(list2)

[80, 60, 20, 10, 9]

In [ ]:
# 121. Best Time to Buy and Sell Stock
# Easy
# Topics
# Companies
# You are given an array prices where prices[i] is the price of a given stock on the ith day.

# You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

# Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

 

# Example 1:

# Input: prices = [7,1,5,3,6,4]
# Output: 5
# Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
# Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.
# Example 2:

# Input: prices = [7,6,4,3,1]
# Output: 0
# Explanation: In this case, no transactions are done and the max profit = 0.

In [ ]:
max_profit = 0
prices =[7,1,5,3,6,4]
for i in range(0,len(prices)):
  for j in range(i+1,len(prices)):
    if prices[j]-prices[i]>max_profit:
      max_profit = prices[j]-prices[i]
print(max_profit)

5

In [ ]:
## if you have a list and short that list by one loop
lst = [64, 34, 25, 12, 22, 11, 45, 9]
start = 0
end = 1
for i in range()

In [ ]:
## Two sum problem by a single loop
lst = [2,3,6,7,5]     ## [2,3,5,6,7]
lst.sort()
target = 9
start =0
end = len(lst)-1
while(start<end):
    if lst[start]+lst[end]==target:
        print(lst[start],lst[end])
        start+=1
        end-=1
    elif (lst[start]+lst[end]>target) :
        end-=1
    else:
        start+=1

2 7
3 6

In [ ]:
##  you have been given two list having same number of elements and you have to merge both the list by removing the duplicate elements 
# but with a single loop but do not use zip and enamurate function

In [1]:
lst1 = [10,20,30,40,50]
lst2 = [30,40,50,60,70]

merge_list = lst1+[item for item in lst2 if item not in lst1]
print(merge_list)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
# plus one probelem 
# Input: digits = [1,2,3]
# Output: [1,2,4]
# Explanation: The array represents the integer 123.
# Incrementing by one gives 123 + 1 = 124.
# Thus, the result should be [1,2,4].

lst = [1,2,3]
num = 0
for i in range(0,len(lst)):
    num = num*10 + lst[i]
    for digit in str(num+1):
        print(digit)

2
1
3
1
2
4

In [ ]:
## Three sum problem(leetcode)

In [29]:
nums = [-1,0,1,2,-1,-4]
nums.sort()
for i in range(0,len(nums)-2):
    start = i+1
    end = len(nums)-1
    while(start<end):
        if nums[i]+nums[start]+nums[end]==0 :
            print(nums[i],nums[start],nums[end])
            start+=1
            end-=1
        elif (nums[i]+nums[start]+nums[end]>0):
            end-=1
        else:
            start+=1    

print('hello')

-1 -1 2
-1 0 1
-1 0 1
hello

In [30]:
print("hello")

hello