In [4]:
for i in range(1,6):
 print(i*"*")

*
**
***
****
*****

floyd's triangle

In [5]:
n=5
num=1
for i in range(1,n+1):
  for j in range(i):
    print(num,end=" ")
    num+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [6]:
for i in range(1,8):
  for j in range(1,6):
    if j==1 or j==5 or i==1 or i==7:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

* * * * *
*       *
*       *
*       *
*       *
*       *
* * * * *

In [7]:
for j in range(1,6):
  for j in range()

SyntaxError: expected ':' (2587284864.py, line 2)

In [ ]:
for i in range(1,6):
  print(i*"*")
  for j in range()

*
**
***
****
*****
****
***
**
*

In [ ]:
n= = 5 # change n for a biger or smaller patter

# upper half
for i in range(1,n+1):   # controls the number of rows(reverse)

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print("*",end="")
  print("")

*****
****
***
**
*

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print(j,end=" ")
  print("")

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
num=5
n=10
for i in range(num):
  for j in range(num-i):
    print(n,end=" ")
    n=n+1
  print("")

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    if j==0 or j==2 or j==4:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
n=5
num=1
for i in range(n):
  for j in range(n-i):
    if j==0 or j==2 or j==4:
      print(num,end=" ")

    else:
      print(0,end=" ")
  print("")
  num+=1

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("*",end=" ")
  print("")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(" ",end=" ")
  for k in range(i,6):
    if k==i or k==5 or i==1 :
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

  * * * * *
    *     *
      *   *
        * *
          *

In [ ]:
for i in range(1,4):
  for j in range(i,3):
    print(" ",end="")
  for k in range(1,(2*i)):
    print("*",end="")

  print("")

  *
 ***
*****

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(" ",end="")
  for k in range(i,5):
    print("*",end=" ")
  print("")

 * * * *
  * * *
   * *
    *

In [ ]:
list 
# collectionn of elements
# mutable index postion
# string is a iterable
# pop ,remove 
# pop = remove last element from list
# remove = remove first occurence of element from list

In [ ]:
list2 = [10,20,60,80,9]
for i in range(0,len(list2)):
  for j in range(i+1,len(list2)):
    if (list2[i]<list2[j]):
      list2[i],list2[j]=list2[j],list2[i]
print(list2)

[80, 60, 20, 10, 9]

In [ ]:
# 121. Best Time to Buy and Sell Stock
# Easy
# Topics
# Companies
# You are given an array prices where prices[i] is the price of a given stock on the ith day.

# You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

# Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

 

# Example 1:

# Input: prices = [7,1,5,3,6,4]
# Output: 5
# Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
# Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.
# Example 2:

# Input: prices = [7,6,4,3,1]
# Output: 0
# Explanation: In this case, no transactions are done and the max profit = 0.

In [ ]:
max_profit = 0
prices =[7,1,5,3,6,4]
for i in range(0,len(prices)):
  for j in range(i+1,len(prices)):
    if prices[j]-prices[i]>max_profit:
      max_profit = prices[j]-prices[i]
print(max_profit)

5

In [ ]:
## if you have a list and short that list by one loop
lst = [64, 34, 25, 12, 22, 11, 45, 9]
start = 0
end = start+1
while(start<end):
    if lst[start]>lst[end]:
        lst[start],lst[end]=lst[end],lst[start]
        start+=1
    
        print(lst)

[34, 64, 25, 12, 22, 11, 45, 9]

In [ ]:
## Two sum problem by a single loop
lst = [2,3,6,7,5]     ## [2,3,5,6,7]
lst.sort()
target = 9
start =0
end = len(lst)-1
while(start<end):
    if lst[start]+lst[end]==target:
        print(lst[start],lst[end])
        start+=1
        end-=1
    elif (lst[start]+lst[end]>target) :
        end-=1
    else:
        start+=1

2 7
3 6

In [ ]:
##  you have been given two list having same number of elements and you have to merge both the list by removing the duplicate elements 
# but with a single loop but do not use zip and enamurate function

In [ ]:
lst1 = [10,20,30,40,50]
lst2 = [30,40,50,60,70]

merge_list = lst1+[item for item in lst2 if item not in lst1]
print(merge_list)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
# plus one probelem 
# Input: digits = [1,2,3]
# Output: [1,2,4]
# Explanation: The array represents the integer 123.
# Incrementing by one gives 123 + 1 = 124.
# Thus, the result should be [1,2,4].

lst = [1,2,3]
num = 0
lst2 = []
for i in range(0,len(lst)):
    num = num*10 + lst[i]
lst1 =[int(x) for x in str(num+1)]
print(lst1)

[1, 2, 4]

In [ ]:
## Three sum problem(leetcode)

In [18]:
nums = [-1,0,1,2,-1,-4]
nums.sort()
for i in range(0,len(nums)-2):
    start = i+1
    end = len(nums)-1
    while(start<end):
        if nums[i]+nums[start]+nums[end]==0 :
            print(nums[i],nums[start],nums[end])
            start+=1
            end-=1
        elif (nums[i]+nums[start]+nums[end]>0):
            end-=1
        else:
            start+=1

-1 -1 2
-1 0 1
-1 0 1

In [ ]:
# dictionary : key : value pairs
# why we use dictionary?
# time complexity of dictionary is O(1)
# key specific 
# value can be duplicate or unique
# we can use dictionary to store data in a more efficient way

# key will always be of immutable type like int, float, str, tuple, etc.
# what are the immutable and mutable datatype in  types in python in terms of memory address?

hello

In [ ]:
mydic = {10:"isha" , "rollno":[90,100]}
mydic["rollno"] = 99
print(mydic)  

# removing in dic
x = mydic.pop(10)
print(mydic , x)   # output: {'rollno': 99}  # rollno is

y= mydic.popitem()
print(mydic , y)  # output: {'rollno': 99}  # roll

{10: 'isha', 'rollno': 99}
{'rollno': 99} isha
{} ('rollno', 99)

In [ ]:
# tuples to dic 
data = [(10 ,"isha") , (20 , "aman")]
dict(data)
# but it only takes only 2 values in the tuple , 
# if we have more than 2 values in the tuple then it will throw an error

{10: 'isha', 20: 'aman'}

In [ ]:
### List comprehension===> list comprehension is a way to create a new list in a consize way.i allows us to 
### generate a new list by applying an expression for each item in a givenn iterable

In [ ]:
## dict comprehension==>dict comprehension is a way to create  adictionary in a concize way.it allows us to generate the 
## a dictionary in key value pair by applying an expresson for each item in a given iterable


keys = ['a','b','c','d','e']
values = [1,2,3,4,5]  

# but this line shows dict comprehension here  
myDict = { k:v for (k,v) in zip(keys, values)}
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
myDict = {x: x**2 for x in [1,2,3,4,5]}
print (myDict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
## what is set==>set is a mutable data type which means we can add or delete item in it.set is unordered and do not 
## index positions.and the very important thing is that we cannot change the item after making the set except add or delete

In [ ]:
# Python example demonstrate that a set
# can store heterogeneous elements
s = {"Geeks", "for", 10, 52.7, True}
print(s)

{True, 'for', 52.7, 10, 'Geeks'}

In [ ]:
## set comprehension==>same as list comprehension but it filter the duplicate elements

In [ ]:
## Example 1: Extracting unique even numbers




a = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

res = {num for num in a if num % 2 == 0}
print(res)

{2, 4, 6}

In [ ]:
list1 = [10,25,14,6,8,1,78,521,8,654,1,2,521]
mylist = []
k = 2
for i in list1:
    if i not in mylist:
        mylist.append(i)
print(mylist) 
for i in range(0,len(mylist)):
    for j in range(i+1,len(mylist)):
        if mylist[i]<mylist[j]:
                mylist[i],mylist[j]=mylist[j],mylist[i]
print(mylist)

[10, 25, 14, 6, 8, 1, 78, 521, 654, 2]
[654, 521, 78, 25, 14, 10, 8, 6, 2, 1]

In [ ]:
char = ['M','CM','D','CD','C','XC','L','XL','X','IX','V','IV','I']
val = [1000,900,500,400,100,90,50,40,10,4,1]
num = 601
lst = ''
i=0
while(num>0):
    for _ in range(num//val[i]):
        lst+=char[i]
        num-=val[i]
    i+=1
        
print(lst)

DCV

In [ ]:
# keyword length argument=> keyword argument is a way of passing arguments to a function by
#  explicitly specifying the name of the argument and its corresponding value.

def func(a,b,c):
    print(a,b,c)

func(1,2,3)

1 2 3

In [ ]:
l1=[10,20,300]
l2=[40,50,60]
result = {}
for i in range(len(l1)):
    result[l1[i]] = l2[i]
print(result)

{10: 40, 20: 50, 300: 60}

In [ ]:
# Q2 {name: marks .. . . . .  ======>} multiple elements
# now take a input from the user for score variable
# - print the key who have more value then the score variable

mydict ={'rishav':10,'gautam':12,"aman":15,'lokesh':17}
score =int(input("give me the required score"))
keys_greater_then_score ={key for key,value in mydict.items() if value>score}
print(keys_greater_then_score)

{'lokesh', 'aman'}

In [26]:
mydict = {10:19,  11:20,  13:None}
# delete the key-value pair where the value is none
for key,value in mydict:
    if value==None:
       mydict.pop(key)
print(mydict)

TypeError: cannot unpack non-iterable int object

In [30]:
mydict = {10: 19, 11: 20, 13: None}

# Delete the key-value pair where the value is None
for key, value in list(mydict.items()):  # Use .items() to get key-value pairs
    if value is None:
        mydict.pop(key)
print(list(mydict.items()))
print(mydict)

[(10, 19), (11, 20)]
{10: 19, 11: 20}

In [ ]:
# Q4:   {"x":5, "y":7, "z":10}
#       print new dictionary as square of each key {x:25, y:49,  z:100}

mydict = {"x":5, "y":7, "z":10}
mydict ={key:value**2 for key,value in mydict.items()}
print(mydict)

{'x': 25, 'y': 49, 'z': 100}

In [ ]:
# Q5
# create a dictionary as cube of number from 1 to 5
#  Note use only thing we have learnt

mydict = {}
for i in range(1,6):
    mydict[i]=i**3
print(mydict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
mydict = {"x":5, "y":7, "z":10}
#    get the ans in new dictionary {"average":7.3 ,   "max":10}
mydict1 ={}
total = 0
count = 0
max = 0
for i in mydict.values():
    if i>max:
        max = i
        total+=i
        count+=1
average = total/count
mydict1["Average"] = average
mydict1["Max"] = max
print(mydict1)

{'Average': 7.333333333333333, 'Max': 10}

In [ ]:
def func():
    a = 0
    b = 1
    for i in range(1,10):
        yield a
        c = a+b
        a=b
        b=c

In [ ]:
gen=func()
for i in gen:
    print(i)

0
1
1
2
3
5
8
13
21

In [ ]:
## list questions

# 1. Write a Python program to find the maximum element
#  in a list of numbers without max functions
# The maximum element is: 99

numbers = [10, 20, 4, 45, 99]
max = numbers[0]
for i in range(0,len(numbers)):
    if numbers[i]>max:
        max = numbers[i]
print("the maximum number is:",max)

the maximum number is: 99

In [ ]:
# 2. Write a Python program to sum all the elements in a list of numbers.
# b. The sum of all elements is: 100

numbers = [10, 20, 30, 40]
sum = 0
for i in range(0,len(numbers)):
    sum+=numbers[i]

print("The sum of numbers is:",sum)

The sum of numbers is: 100

In [ ]:
# 3. Write a Python program to reverse a list without reverse or slicing operator
numbers = [1, 2, 3, 4, 5]
# b. Reversed list: [5, 4, 3, 2, 1]
for i in range(0,len(numbers)):
    for j in range(i+1,len(numbers)):
        if numbers[i]<numbers[j]:
            numbers[i],numbers[j]=numbers[j],numbers[i]

print(numbers)

[5, 4, 3, 2, 1]

In [ ]:
# Q-4 Write a Python program to reverse a list without reverse or slicing operator

numbers = [5,4,3,2,1]
# b. Reversed list: [1,2,3,4,5]
for i in range(0,len(numbers)):
    for j in range(i+1,len(numbers)):
        if numbers[i]>numbers[j]:
            numbers[i],numbers[j]=numbers[j],numbers[i]

print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 5. Write a Python program to remove duplicates from a list while maintaining the order
# of elements.
numbers = [1, 2, 2, 3, 4, 4, 5]
# b. List after removing duplicates: [1, 2, 3, 4, 5]
numbers1 = []
for i in range(0,len(numbers)):
    if numbers[i] not in numbers1:
        numbers1.append(numbers[i])
print(numbers1)

[1, 2, 3, 4, 5]

In [ ]:
# 6. Write a Python program to find all pairs of numbers in a list that add up to a specific
# target sum.
numbers = [1, 2, 3, 4, 3, 5, 6] 
target_sum = 6
# b. Pairs that add up to 6: [(3, 3), (2, 4), (1, 5)]

for i in range(0,len(numbers)):
    if numbers[i]

In [ ]:
# 7. Write a Python program to flatten a nested list (list within lists) into a single list.
# b. Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
nested_list1 = []
for i in nested_list:

[]

In [ ]:
# Write a Python program to find the sum of the elements in a list, excluding the largest
# and smallest element. Don’t use max or min functions
# b. Sum excluding the largest and smallest element: 9

numbers = [1, 2, 3, 4, 5]
numbers.pop(0)
numbers.pop(-1)
sum = 0
for i in range(0,len(numbers)):
    sum+= numbers[i]
print("the sum of numbers is:",sum)

the sum of numbers is: 9

In [ ]:
# INTERMEDIATE LEVEL

In [ ]:
# 9. Write a Python program to check if a list is a palindrome (reads the same backward
# as forward) using two pointer approach
# b. True

numbers = [1, 2, 3, 2, 1]
start = numbers[0]
end = numbers[-1]
while(start==end):
    if start==end:
        start+=1
        end-=1
        print("this is pallindrome number")
        
    else:
        print("this is not a pallindrome number")
        break

this is pallindrome number

In [ ]:
# 10. Write a function to remove duplicate elements from a list.
# b. [1, 2, 3, 4, 5, 6]

numbers = [1, 2, 3, 2, 4, 5, 1, 6]
numbers = set(numbers)
print(list(numbers))

[1, 2, 3, 4, 5, 6]

In [ ]:
# 11. Find Common Elements in Two Lists
# Result: [3, 4, 5]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
list3 = set(list1).intersection(set(list2))
print(list(list3))

[3, 4, 5]

In [ ]:
# 12. Find the Longest Word in a List
# b. Strawberry

words = ["apple", "banana", "strawberry", "kiwi"]
b = words[0]
for word in words:
    if len(word)>len(b):
        b = word
print((b))

strawberry

In [ ]:
# 14. Find Missing Number in a List
# You are given a list of n-1 numbers in the range 1 to n. One number is missing
# from the sequence. Find the missing number.
# b. 3

numbers = [1, 2, 4, 5, 6]
for i in range(0,len(numbers)-1):
    z =numbers[i]+1
    if z not in numbers:
        print(z)

3

In [22]:
# 15. Find the First Non-Repeating Element
# Given a list of integers, find the first element that appears only once.
# b. Expected Output: 1

numbers = [4, 5, 1, 2, 0, 4, 5, 2]
count = {}
non_repeat =[]
for num in numbers:
    if num not in count:
        count[num] = 1
    else: 
        count[num]+=1
for num in count:
    if count[num] == 1:
        print(num)
        break

1

In [ ]:
# 16. Move All Zeros to the End
# Given a list of integers, move all zeros to the end while maintaining the relative order
# of non-zero elements. Don’t use any inbuilt functions
# b. [1, 3, 12, 0, 0]


numbers = [0, 1, 0, 3, 12]
numbers1 =[]
for i in numbers:
    if i != 0:
        numbers1.append(i)
    else:
            
    
print(numbers1)

[1, 3, 12]

In [17]:
# 17. Find Elements Greater Than Their Left Neighbor
# b. [3, 6, 8]

numbers = [1, 3, 2, 6, 5, 8, 7]
numbers1 = []
for i in range(0,len(numbers)-1,2):
    numbers1.append(numbers[i+1])
print(numbers1)

[3, 6, 8]

In [20]:
#18 Find Triplets That Sum to Zero
#given list of numbers, find all unique triplets (a, b, c) such that a + b + c = 0.
# b. Expected Output: [(-1, -1, 2), (-1, 0, 1)]


numbers = [-1, 0, 1, 2, -1, -4]

nums.sort()
for i in range(0,len(nums)-2):
    start = i+1
    end = len(nums)-1
    while(start<end):
        if nums[i]+nums[start]+nums[end]==0 :
            print(nums[i],nums[start],nums[end])
            start+=1
            end-=1
        elif (nums[i]+nums[start]+nums[end]>0):
            end-=1
        else:
            start+=1

-1 -1 2
-1 0 1
-1 0 1